/* Untuk Tablets */
@media (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }

    .footer-list li {
        float: left;
        padding-top: 25px;
        padding-right: 38px;
        padding-left: 38px;
    }

}

/* Untuk Smartphones */
@media (max-width: 670px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }
      
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
      
    .top-wrapper p,h3 {
        font-size: 14px;
        line-height: 20px;
    }
     
    .top-wrapper {
        text-align: left;
    }

    .slider {
	    width: 568px;
	    height: 250px;
    }

    .slider-contents img {
        width: 568px;
        height: 250px;
        float: left;
    }
    .extra2-contents {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    .footer-list li {
        float: left;
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer-bottom p {
        padding-top: 120px;
        font-size: 10px;
    }

    .footer-logo {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 50px;
        margin-left: 24px;
    }
}
